* {
  box-sizing: border-box;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: hsl(180, 52%, 96%);
}

header {
  background-image: url(./images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(180, 29%, 50%);
  height: 10em;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  flex-direction: column;
  gap: 1em;
}
.one {
  display: flex;
  justify-content: space-between;
  width: 900px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  border-left: 5px solid hsl(180, 29%, 50%);
}
.none {
  border-left: none;
}
.first {
  display: flex;
  align-items: center;
}
.first img {
  width: 60px;
  height: 60px;
}
.one_title {
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;
}
.one_title h1 {
  color: hsl(180, 29%, 50%);
  font-size: 1.3em;
}
.new {
  background-color: hsl(180, 29%, 50%);
  border-radius: 20px;
  color: white;
  padding: 0.4em;
}
.featured {
  background-color: black;
  color: white;
  padding: 0.4em;
  border-radius: 20px;
}
.one_details {
  margin-left: 0.8em;
}
.one_details h2:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}
.one_title span {
  margin-left: 0.8em;
}
.deets {
  display: flex;
  margin-top: 0.8em;
  color: hsl(180, 8%, 52%);
  gap: 0.8em;
  align-items: center;
}
.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: hsl(180, 8%, 52%);
}
.skills {
  display: flex;
  gap: 2em;
}
.skills p {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  padding: 0.5em;
  cursor: pointer;
  font-weight: 700;
}
.skills p:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
}
.line {
  display: none;
}
@media screen and (max-width: 600px) {
  header {
    background-image: url(./images/bg-header-mobile.svg);
  }
  main {
    gap: 5em;
  }
  .one {
    width: 90%;
    flex-direction: column;
    padding: 2em;
    position: relative;
  }
  .skills {
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
    align-self: self-start;
  }
  .first {
    align-self: start;
    justify-content: start;
  }
  .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: hsl(180, 8%, 52%);
    margin-top: 1em;
  }
  .one_details {
    align-items: start;
  }
  .first img {
    width: 50px;
    height: 50px;
  }
  .image {
    position: absolute;
    left: 1%;
    top: -12%;
  }
}
